* {
  float: none;
  background: #fff;
  color: #000;
}

body { font-size: 80%; }
/*
     FILE ARCHIVED ON 00:35:36 Oct 02, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:28:38 Aug 31, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.482
  PetaboxLoader3.datanode: 67.838 (4)
  LoadShardBlock: 57.107 (3)
  exclusion.robots: 0.511
  load_resource: 128.881
  RedisCDXSource: 1.069
  captures_list: 104.684
  PetaboxLoader3.resolve: 83.526
  CDXLines.iter: 26.619 (3)
  esindex: 0.021
*/